/* 
  CSE183 Assignment 2

  CSS for Advanced Requirement 
*/
body{
  font-size: 0; /* Removes horizontal space in between divs */
}
div{
  display: inline-block; /* Makes all divs aligned horizontally instead of vertically */
}

/* Aligns div to top left */
.topleft{
  position: absolute;
  top: 0%;
  left: 0%;
}

/* Sets text properties for letters */
.letter{
  background-color: navy;
  color: white;
  font-size: 60pt;
  font-family: 'Courier New', Courier, monospace;
  width: 100px;
  height: 180px;
}


/* Aligns div to bottom right and sets a border around all elements within the div */
.bottomright{
  border-width: 10px;
  border-color: yellow;
  border-style: solid;
  position: absolute;
  bottom: 0%;
  right: 0%;
}

/*Sets text properties for letters when mouse cursor is hovering*/
.letter:hover{
  background-color: white;
  color: navy;
}

/* Sets text properties for numbers */
.number{
  
  background-color: black;
  color: yellow;
  font-size: 40pt;
  font-family: 'Courier New', Courier, monospace;
  height: 60px;
  width: 60px;
  text-align: center;
}




/* Sets text properties for letters when mouse cursor is hovering */
.number:hover{
  background-color: yellow;
  color: black;
}


