/* 
  CSE183 Assignment 2

  CSS for Advanced Requirement 
*/
body{
  color: black;
  font-size: 0; /* Removes horizontal space in between divs */
  font-family: "Courier Lucida Console", monospace;
}
div{
  display: inline-block; /* Makes all divs aligned horizontally instead of vertically */
}

/* Aligns div to top left */
.topleft{
  top: 0%;
  left: 0%;
  position: absolute;
}

/* Sets text properties for letters */
.letter{
  width: 100px;
  height: 180px;
  color: white;
  background-color: navy;
  font-size: 60pt;
  
}

/*Sets text properties for letters when mouse cursor is hovering*/
.letter:hover{
  color: navy;
  background-color: white;
  
}

/* Aligns div to bottom right and sets a border around all elements within the div */
.bottomright{
  bottom: 0%;
  right: 0%;
  position: absolute;
  border-style: solid; /* Border doesn't show up without this*/
  border-width: 10px;
  border-color: yellow;
}

/* Sets text properties for numbers */
.number{
  width: 60px;
  height: 60px;
  color: yellow;
  background-color: black;
  font-size: 40pt;
  text-align: center;
}

/* Sets text properties for letters when mouse cursor is hovering */
.number:hover{
  color: black;
  background-color: yellow;
}


