/* 
  CSE183 Assignment 2

  CSS for Basic Requirement 
*/

/* Sets text properties for all divs*/
.basic{
  width: 60px;
  height: 60px;
  color: black;
  background-color: yellow;
  font-size: 40pt;
  font-family: "Courier Lucida Console", monospace;
  text-align: center;
  margin: auto; /* Centers the div within window*/
  padding: 10px;
}